h3 {
  color: #222222;
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.api-header {
  border-bottom: solid 2px #222222;
  padding: 40px 0 0 0;
  margin-bottom: 30px;
  position: relative;
  height: 100px;
}
.api-header .header-title {
  float: left;
}
.api-header .header-title h2 {
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  color: #222222;
  line-height: 60px;
  float: left;
}
.api-header .header-title p {
  line-height: 15px;
  color: #777777;
  float: left;
  margin-top: 30px;
  margin-left: 10px;
}
.api-header .header-title > div {
  float: left;
  margin-left: 30px;
  line-height: 60px;
  margin-top: 13px;
}
.api-header .header-link {
  float: right;
  margin-top: 30px;
  line-height: 15px;
}
.api-header .header-link a {
  margin-left: 10px;
}
.api-body label {
  font-weight: 500;
}
.api-body .list-header h4 {
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 3px 0 9px 0;
  color: #4d75a1;
}
.api-body .list-header p {
  color: #777777;
  margin: 7px 0 0 0;
}
.api-body .list-header p .label {
  padding: 2px 5px;
  font-weight: 500;
  cursor: pointer;
}
.api-body .list-header p a {
  margin-right: 10px;
  font-size: 12px;
}
.api-body .request-param {
  margin-bottom: 0;
}
.api-body .param-div {
  border: solid 1px #dddddd;
  padding: 5px;
}
.api-body .param-div > span {
  margin: 0 15px 5px 0;
}
.api-body .param-div > span .span-key {
  color: #5cb85c;
}
.api-body .param-div > span .span-comment {
  color: #777777;
}
.api-nav {
  margin-top: 20px;
  position: fixed;
}
.alert-div {
  display: none;
  z-index: 99999;
  position: fixed;
  left: 15%;
  right: 10%;
  top: 46%;
  width: auto;
  padding: 0 30px;
  text-align: center;
}
.alert-div .alert {
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em;
  opacity: 0.9;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}
.mr_title {
  margin: 30px 0;
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777777;
}
.mr_title span {
  vertical-align: middle;
  display: inline-block;
}
.mr_title .mr_title_l {
  width: 10%;
  height: 0;
  border-top: 1px solid #ededed;
}
.mr_title .mr_title_c {
  font-size: 18px;
  padding: 6px 24px;
  text-align: center;
  background-color: #eee;
  -moz-border-radius: 26px;
  -webkit-border-radius: 26px;
  border-radius: 26px;
  margin: 0 13px;
}
.mr_title .mr_title_r {
  width: 10%;
  height: 0;
  border-top: 1px solid #ededed;
}
.login-div {
  margin-left: 100px;
  padding: 20px 50px 5px 50px;
  border: solid 1px #eeeeee;
  width: 350px;
}
.login-div h3 {
  color: #777777;
  margin: 0;
  padding-bottom: 10px;
  border-bottom: solid 1px #eeeeee;
}
.float-nav {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 999;
  position: fixed;
  right: 20px;
  bottom: 50px;
  background-color: white;
  width: 50px;
  padding: 0;
  height: auto;
}
.float-nav > div {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #222222;
}
.float-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.float-nav li {
  position: relative;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  margin: 0 5px;
  padding: 0;
  border-top: solid 1px #eeeeee;
}
.float-nav li:first-child {
  border-top: none;
}
.float-nav li:last-child {
  line-height: 49px;
}
.float-nav li:hover a {
  color: #222222;
}
.float-nav a {
  color: #222222;
  background-color: white;
  display: block;
}
.alert-nav {
  z-index: -1;
  width: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  color: white;
  background-color: #222222;
  overflow: hidden;
}
.api-left-nav {
  position: fixed;
  top: 120px;
  max-width: 180px;
  overflow: scroll;
  bottom: 80px;
}
.api-left-nav > li > a {
  color: #4d75a1;
  font-size: 14px;
  padding: 3px 10px;
  border-left: 2px solid #4d75a1;
}
.api-left-nav > li > ul > li > a {
  color: #777777;
  font-size: 12px;
  margin-left: 10px;
  padding: 3px 10px;
}
.api-left-nav > li > ul > li > a:hover {
  color: #4d75a1;
  border-left: 2px solid #4d75a1;
}
.api-left-nav > li > ul > li > .active {
  color: #4d75a1;
  border-left: 2px solid #4d75a1;
  background-color: #eee;
}
