<!DOCTYPE html>
{__NOLAYOUT__}
{include file="public/header"/}


<!--内容区顶部导航-->
{include file="public/nav"/}
{include file="public/left-nav"/}
<style>
    .login-zk {
        border: 1px solid #fff;
        padding: 10px 50px;
        border-radius: 0;
        color: white;
        font-size: 20px;
        text-decoration: none;
        transition: border-radius 0.2s;
    }

    .login-zk:hover {
        border-radius: 20px;
        color: #dddddd;
        text-decoration: none;
    }
    body{
        background-color: #f8f8f8;
    }
</style>

<div style="position: relative; overflow: hidden">


    <div class="site-banner" style="background-image: url('__S__images/xingkong.jpg');height: 573px;padding-top: 210px ;background-position: center;
background-repeat: repeat;">

        <div class="api-x-shine"></div>
        <div class="api-y-shine"></div>
        <div style="color: white;text-align: center">

            <p style="font-size: 50px;">团队协作API文档工具</p>
            <p style="margin-bottom: 50px">减少不必要的沟通，最大化开发效率</p>

            <a href="__SITE__login" class="login-zk">登录</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="__SITE__register"
                                                                                      class="login-zk">注册</a>
        </div>


    </div>
</div>




<div class="container" style="padding-top: 50px;background-color: white">
    <div class="panel panel-default">
        <div class="panel-body">
            <h4>减少不必要的沟通，最大化开发效率：
            </h4>

            <strong>工具亮点：</strong>
            <ol>
                <li>前后端开发人员能迅速找到需要的接口</li>
                <li>移动端开发人员能请求任意后端开发人员的本地项目</li>
                <li>移动端开发人员能对请求参数与响应数据一目了然。既兼具API文档查看功能</li>
                <li>移动端开发人员能看到是谁最后修改的接口以请求对应开发人员的本地主机</li>
                <li>可直接修改页面参数请求接口，不修改会以默认参数请求</li>
                <li>返回参数每个都做备注未免浪费时间，因为很多参数一看就懂，可自定义备注响应数据，看自己心情</li>

            </ol>



            <strong>工具支持：</strong>
            <ol>
                <li>HTTP请求，目前仅支持post和get</li>
                <li>返回数据支持json，xml，html格式（目前仅对json格式做高亮处理）</li>


            </ol>
        </div>
    </div>
</div>
<div class="api-footer">
    <p>Copyright (c) 2016 maapi.cn All rights reserved.</p>
    <p><span><a href="http://www.topp123.com">Mama</a> | <a href="http://www.miitbeian.gov.cn/">鲁ICP备15034061号-2</a></span></p>
</div>
<script>
    $(function () {
        $('nav').animate({opacity: 0.7}, 'fast');
        setInterval(shine_x, 8800);
        setInterval(shine_y, 13000);

        function shine_x() {
            $('.api-x-shine').animate({left: '100%', width: 110}, 2200);

            setTimeout(function () {
                $('.api-x-shine').animate({left: -220, width: 150}, 1550);

            }, 5600);
        }

        function shine_y() {
            $('.api-y-shine').animate({top: 632, height: 80}, 1900);
            setTimeout(function () {
                $('.api-y-shine').animate({top: -150, height: 110}, 1743);

            }, 9800);

        }

    });
</script>
<!--内容区底部-->
{include file="public/modal"/}


{include file="public/footer"/}
