<style>
    .login-zk {
        border: 1px solid #555;
        padding: 10px 50px;
        border-radius: 0;
        color: white;
        font-size: 20px;
        text-decoration: none;
        transition: border-radius 0.2s;
    }

    .login-zk:hover {
        border-radius: 20px;
        color: #dddddd;
        text-decoration: none;
    }
</style>
<script src="__S__js/canvas-particle.js"></script>

<div class="site-banner" style="background-image: url('__S__images/xingkong.jpg');height: 634px;padding-top: 200px ;background-position: center;
background-repeat: no-repeat;">

    <div style="color: white;text-align: center">

        <p style="font-size: 50px;">团队协作API助手</p>
        <p style="margin-bottom: 50px">减少不必要的沟通，最大化开发效率</p>

        <a href="__SITE__me" class="login-zk">登录</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="" class="login-zk">注册</a>
    </div>


</div>

