@charset "utf-8";
/* CSS Document */
.jf-ObjectBrace {
    color: #009944;
    font-weight: bold;
}
.jf-ArrayBrace {
    color: #723ab8;
    font-weight: bold;
}
.jf-PropertyName {
    color: #e41c4b;
    font-weight: bold;
}
.jf-String {
    color: #008299;

}
.jf-Number {
    color: #AA00AA;
}
.jf-Boolean {
    color: #00AAaa;
}
.jf-Null {
    color: #0ecc82;
}
.jf-Comma {
    color: #777;
    font-weight: bold;
}
pre.jf-CodeContainer {
    background-color: #f8f8f8;
    /*font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
}
