@charset "utf-8";
/* CSS Document */
.jf-ObjectBrace {
    color: #009944;
    font-weight: bold;
}
.jf-ArrayBrace {
    color: #723ab8;
    font-weight: bold;
}
.jf-PropertyName {
    color: #e41c4b;
    font-weight: bold;
}
.jf-String {
    color: #008299;

}
.jf-Number {
    color: #AA00AA;
}
.jf-Boolean {
    color: #00AAaa;
}
.jf-Null {
    color: #0ecc82;
}
.jf-Comma {
    color: #777;
    font-weight: bold;
}
/*@charset "utf-8";*/
/*!* CSS Document *!*/
/*.jf-ObjectBrace {*/
    /*color: #009944;*/
    /*font-weight: bold;*/
/*}*/
/*.jf-ArrayBrace {*/
    /*color: #fff;*/
    /*font-weight: bold;*/
/*}*/
/*.jf-PropertyName {*/
    /*!*color: #fb87b3;*!*/
    /*color: #ffd200;*/
    /*!*font-weight: bold;*!*/
/*}*/
/*.jf-String {*/
    /*color: #5cb85c;*/

/*}*/
/*.jf-Number {*/
    /*color: #5dc7fd;*/
/*}*/
/*.jf-Boolean {*/
    /*color: #cfa972;*/
/*}*/
/*.jf-Null {*/
    /*color: #fd6177;*/
/*}*/
/*.jf-Comma {*/
    /*color: #eee;*/
    /*font-weight: bold;*/
/*}*/
pre.jf-CodeContainer {
    color: #eee;
    /*background-color: #eee;*/
    background-color: #252c38;
    /*border: 1px solid #eee;*/
    border: 1px solid #252c38;
    /*font-family:  "Microsoft Yahei",Helvetica, Arial,"Helvetica Neue",  sans-serif;*/
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
}
