<!DOCTYPE html>


<style>
    body{
        background-color: #ffffff;
    }
</style>

<div class="container">

    <div class="row">

        <div class="col-md-6 col-sm-6" style="margin-top: 6%">
            <div class="login-div">


            <form class="form-horizontal" role="form">
                <div class="form-group">



                    <h3>账号登陆</h3>

                </div>


                <div class="form-group">

                    <div class="input-group">
                        <span class="input-group-addon" style="width: 100px">用户名</span>
                        <input type="text" class="form-control" required="" id="username" name="username" >
                    </div>



                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon" style="width: 100px">密码</span>
                        <input type="text" class="form-control" required="" id="password" name="password">
                    </div>


                </div>

                <div class="form-group">

                        <a href="javascript:void (0);" class="btn btn-success btn-block" id="submit">登录</a>

                </div>

            </form>
            </div>
        </div>

    </div>
</div>

<script>
    $(function(){

        $('body').on('keydown', function (event) {

            var key_code = event.keyCode;
            if (key_code == 13) {
                $("#submit").trigger('click');
            }
        });

       $('#submit').on('click',function(){
           var $alert=$(this).parent().parent();

           $.post('__INDEX__login/check',{username:$('#username').val(),password: $('#password').val()},function(msg){

               switch (msg.status){
                   case 0:
                       var alert = $('<div class="alert-div"><div class="alert alert-warning">警告！' + msg.content + '</div></div>');
                       $alert.before(alert);
                       alert.fadeIn("slow");
                       setTimeout(function () {
                                   alert.fadeOut("slow");
                                   setTimeout(function () {
                                               alert.remove();
                                           },
                                           2000);
                               },
                               2000);
                       break;
                   case 1:
                   window.location.href='__SITE__me';
                   break;
                   case 2:
//                       window.location.href='__SITE__';
                       break;
               }

           })
       }) ;
    });
</script>






