<!DOCTYPE html>



<style>
    body{
        background-color: #ffffff;
    }
</style>

<div class="container">

    <div class="row">
        <form class="form-horizontal" id="register" role="form">
            <div class="form-group">



                <h3>账号注册</h3>
                <hr>

            </div>
            <div class="form-group">

                <div class="input-group">
                    <span class="input-group-addon" style="width: 100px">邮箱</span>
                    <input type="text" class="form-control" required="" name="email" value="77275355@qq.com" >
                </div>



            </div>

            <div class="form-group">

                <div class="input-group">
                    <span class="input-group-addon" style="width: 100px">用户名</span>
                    <input type="text" class="form-control" required=""  name="username" >
                </div>



            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon" style="width: 100px">密码</span>
                    <input type="text" class="form-control" required=""  name="password">
                </div>


            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon" style="width: 100px">密码</span>
                    <input type="text" class="form-control" required=""  name="re_password">
                </div>


            </div>

            <div class="form-group">

                <a href="javascript:void (0);" class="btn btn-success " id="submit">登录</a>

            </div>

        </form>

    </div>
</div>

<script>
    $(function(){

        $('body').on('keydown', function (event) {

            var key_code = event.keyCode;
            if (key_code == 13) {
                $("#submit").trigger('click');
            }
        });

       $('#submit').on('click',function(){
           var fd=new FormData($('#register')[0]);
           $.ajax({
              url:'__INDEX__login/saveRegister',
               type:'post',
               data:fd,
               dataType:'json',
               success:function(msg){
                   console.log(msg);
                   if(msg.status==0){
                       layer.msg(msg.content ,{icon:2});
                   }else {
                       layer.msg('注册成功' ,{icon:1});

                       $.post('__INDEX__login/sendMail',{email:msg.content.email,password:msg.content.password,username:msg.content.username},function(){

                       });
                       window.location.href='__INDEX__login/verifyMail';
                   }
               },
               processData:false,
               contentType:false
           });


       }) ;

        //验证邮箱
        $('#verify-email').on('click',function(){
            var email=$(this).prev().val();
            $.post('__INDEX__login/verifyEmail',{email:email},function(msg){
                console.log(msg);
            });
        })
    });
</script>





