<!DOCTYPE html>
<div class="bbs-operate">

    <a href="__SITE__addBbs" class="btn btn-info">发布问题</a>
</div>
<hr>
<ul class="api-bbs-list">
    {foreach $list as $v}

    <li>
        <div class="bbs-list">




            <img src="__S__images/{$v.user.head_img}" class="img-circle" alt="">

        <div>
            <div class="bbs-list-content">
                <h4><a href="__SITE__title/{$v.id}">{$v.title}</a>


                    {eq name="v.top" value="1"}
                    <span class="label label-success">置顶</span>
                    {/eq}
                    {eq name="v.hot" value="1"}
                    <span class="label label-warning">热门</span>
                    {/eq}
                    {eq name="v.essence" value="1"}
                    <span class="label label-danger">精帖</span>
                    {/eq}


                </h4>
                <div class="bbs-list-bottom">
                    <small>
                        <span>{$v.type}</span>
                        <span>发布者：{$v.user.username}&nbsp;&nbsp;{$v.create_time}</span>
                        {notempty name="v.comment_last" }
                        <span>最后评论：{$v.comment_last.name}&nbsp;&nbsp;{$v.comment_last.ago}</span>
                        {/notempty}

            <span class="pull-right">
              <i class="fa fa-comment-o"></i>{$v.comment_count}
              <i class="fa fa-eye"></i>{$v.visit_count}
            </span>
                    </small>

                </div>
            </div>

        </div>
        </div>
    </li>
    {/foreach}

</ul>
{$list->render()}