<!DOCTYPE html>

<img src="__S__images/paopao/{$info.head_img}" data-name="{$info.head_img}" class="edit-head-img" id="current-head-img" alt="">
<p>选择头像：</p>
<div class="head-div">
    {for start="1" end="24" }
    <div class="head-img-div">
        <img src="__S__images/paopao/{$i}.jpg" data-name="{$i}.jpg" class="img-circle" alt="">
    </div>
    {/for}
</div>
<input type="text" class="form-control" id="username" placeholder="昵称" name="username" value="{$info.username}">
<input type="hidden" class="form-control" name="user_id" value="{$info.user_id}">
<a class="btn btn-success" id="submit">保存</a>

<script>

    //选择头像事件
    $('.head-img-div>img').on('click',function(){

        var src=$(this).attr('src');
        var name=$(this).attr('data-name');
        $('#current-head-img').attr('src',src).attr('data-name',name);
    });

    $('#submit').on('click',function(){
             var id=$('[name="user_id"]').val();
            var head_img= $('#current-head-img').attr('data-name');
            var username=$('[name="username"]').val();
            $.ajax({
                type:'post',
                url:'__INDEX__me/saveUser',
                data:{id:id,head_img:head_img,username:username},
                dataType:'json',
                success:function(msg){
                    console.log(msg);
                    if (msg.status == 0) {
                        layer.msg(msg.content, {icon: 2});
                    } else {
                        layer.msg('修改成功', {icon: 1});

                    }
                    window.location.href='__SITE__me';
            }
        })
    });
</script>

