<div class="container" style="margin-top: 30px">


<div class="row">
    <div class="col-md-3 api-me-left">

<div style="background-image: url('__S__images/me_bg_img.jpg' ) ;background-position: center;
background-repeat: no-repeat;background-size:100%;padding: 30px 10px 10px 30px;color: white ">
    

        <div class="api-me-head-img"><img src="__S__images/paopao/{$info.head_img}" class="img-circle" alt=""></div>
        <p class="text-center">{$info.username}</p>

        <div class="api-me-notify">
            <p>

                <a href="javascript:void (0)" data-operate="read-notify"><h4 style="display: inline"><span class="fa fa-envelope" ></span>{present name="invite_count"}<span class="badge" style="background-color: #00AA88;position: relative;top: -5px;left: -5px">{$invite_count}</span>{/present}</h4></a>
                <a href="__SITE__editUser/{$info.user_id}" data-operate="edit-user"><h4 style="display: inline"><span class="fa fa-cog" ></span></h4></a>

            </p>
        </div>
</div>
        <ul class="list-group" style="margin-top: 20px">
            <li class="list-group-item active">我的团队</li>
            <li class="list-group-item">api项目团队</li>
            <li class="list-group-item">嘿嘿客</li>
            <li class="list-group-item">
                <span class="badge">新</span>
                mama笔记
            </li>
            <li class="list-group-item">猪八戒网</li>
            <li class="list-group-item">
                <span class="badge">新</span>
                码市
            </li>
        </ul>
    </div>
    <div class="col-md-9">

        <div class="text-right"><a href="javascript:void (0);" class="btn btn-info" id="create-project">创建项目</a>
            <hr></div>

        <ul class="api-me-list">
            {foreach $project as $v}
            <li>
                <div>
                    <h4><a href="__SITE__doc/{$v.project.id}">{$v.project.name}</a>{if condition="$v.type eq 1"}<span class="label label-success">创建</span>
{else /}<span class="label label-info">参与</span>
{/if}</h4>
                    <p>
                        <small><span>创建时间:{$v.project.create_time}</span><span style="margin-left: 10px">{empty name="v.project.update_time"} {else/}修改时间1：{$v.project.update_time}{/empty}</span>
                        </small>
                        {if condition="$v.type eq 1"}<a href="__SITE__invite/{$v.project.id}" class="btn btn-primary btn-xs">邀请</a>{/if}
                    </p>
                </div>
            </li>
            {/foreach}

        </ul>

    </div>
</div>



</div>

<script>

    //弹出消息中心
    $('[data-operate="read-notify"]').on('click',function(){
        //页面层

        $.post('__INDEX__me/notifyList',{},function(msg){

            if(msg.status==1){
                var data=msg.content;
                var str='<ul class="list-group" style="margin-top: -1px">';
                for(var key in data){
                    var s='<li  class="list-group-item"><span class="text-success">'+data[key].invite_name+'</span>邀请您开发【'+data[key].project_name+'】项目 <a class="btn btn-success btn-xs" data-operate="invite" data-type="sure" data-id="'+data[key].id+'">同意</a><a class="btn btn-danger btn-xs" data-operate="invite" data-type="refuse" data-id="'+data[key].id+'">拒绝</a></li>';
                    str=str+s;
                }
                str=str+'</ul>';
                layer.open({
                    type: 1,
                    title:'消息中心',
                    skin: 'layui-layer-rim', //加上边框
                    area: ['420px', '240px'], //宽高
                    content: str
                });
            }

        });

    });


    //消息中心操作
    $('html').on('click','[data-operate="invite"]',function(){
        console.log(3);
       var type=$(this).attr('data-type');
       var id=$(this).attr('data-id');
        switch (type){
            case 'sure':
                    //确认事件
                    console.log(id);

                $.post('__INDEX__me/sureInvite',{id:id},function(){

                });
                break;
            case 'refuse':
                    //拒绝事件
                break;
        }

    });

    $('#create-project').on('click',function(){

        //prompt层
        layer.prompt({
            title: '请输入新项目名称',
            formType: 0 //prompt风格，支持0-2
        }, function(pass){


            $.post('__INDEX__me/createProject',{name:pass},function(msg){
                if(msg.status==1){
                    var $li=$('<li><div><h4>' +
                            '<a href="__SITE__doc/'+msg.content.id+'">'+msg.content.name+'</a><span class="label label-success">创建</span>' +
                            '</h4><p><small><span>创建时间:'+msg.content.create_time+'</span></small></p></div></li>');
                    $('.api-me-list').append($li);

                    layer.msg('创建成功' ,{icon:1});
                }else {
                    layer.msg(msg.content ,{icon:2});
                }
            });
        });
    });

</script>