<footer class="footer " style="padding: 10px 0;display: none;border-top: solid 1px #dddddd;">
    <div class="container">
        <p class="text-muted" style="margin: 0">
            <small><a href="__SITE__" target="_blank">MaMa-2016</a>&nbsp;&nbsp;|&nbsp;&nbsp;API调试助手2.0&nbsp;&nbsp;|&nbsp;&nbsp;使用帮助
            </small>
        </p>
    </div>
</footer>
<script>
    $(function(){
        //footer:margin-top
        var $prevDiv = $(".right-content");
        var $footer = $("footer");
        var all = $(window).height();//是文档窗口高度
        var top = $prevDiv.offset().top;//是标签距离顶部高度
        var scroll = $(document).scrollTop();//是滚动条高度
        var height = $prevDiv.height();//是标签高度
        var f = $footer.height();
        //你要的高度
        var margin_top = all - height - (top - scroll) - f - 51;
        if (margin_top > 0) {
            $footer.css('margin-top', margin_top);
        } else {
            $footer.css('margin-top', '10px');
        }
        $footer.fadeIn("slow");
    });

</script>