<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MaMa-API助手</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="__S__bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="__S__fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="__S__fonts/fontawesome/css/font-awesome-ie7.min.css">
    <link rel="stylesheet" href="__S__jsonFormater/jsonFormater.css">
    <link rel="stylesheet" href="__S__css/mama-api.css">


    <script src="__S__js/jquery-1.12.4.js"></script>
    <script src="__S__bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="__S__jsonFormater/jsonFormater.js"></script>
    <script src="http://apps.bdimg.com/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

    <link rel="stylesheet" href="__S__layui/css/layui.css">
    <script src="__S__layui/layui.js"></script>


</head>
<body>

