<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mama-API文档工具</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="__S__bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="__S__fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="__S__fonts/fontawesome/css/font-awesome-ie7.min.css">
    <link rel="stylesheet" href="__S__jsonFormater/jsonFormater.css">
    <link rel="stylesheet" href="__S__css/mama-api.css">

    <meta name="description" content="开发文档工具">
    <meta name="keyword" content="开发文档,开发调试,文档工具,APP开发，IOS开发，json">

    <script src="__S__js/jquery-1.12.4.js"></script>
    <script src="__S__bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="__S__jsonFormater/jsonFormater.js"></script>
    <!--<script src="http://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>-->
    <script src="http://apps.bdimg.com/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script src="__S__layer/layer.js"></script>




</head>
<body>

